.bg-dark .form-control,
.bg-dark .input-group-text {
    color: var(--bs-light) !important;
    background-color: var(--bs-gray-dark) !important;
    border-color: var(--bs-gray) !important;
}

.icon {
    width: 1em;
    height: 1em;
}

.icon-hover {
    display: inline;
}

.icon-hover:hover,
button:hover .icon-hover {
    display: none;
}

.icon-hovered {
    display: none;
}

.icon-hovered:hover,
button:hover .icon-hovered {
    display: inline;
}
